{% extends 'base.html.twig' %}

{% block title %}Sondage index{% endblock %}
  {% block stylesheets %}
<style>

    .button4 {
        height: 10px;
        display: inline-block;
        background: #e30b46;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 15px;
        border-radius: 5px;
        box-shadow: 0px 10px 1px -1px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        -webkit-transition: all ease-out 300ms;
    }
    .button4:hover {
        box-shadow: 0px 1px 1px -5px rgb(238, 237, 237);

    }

    body {
        margin: 0;
        background: linear-gradient(45deg, #969ccd, #f3f3f5);
        font-family: sans-serif;
        font-weight: 100;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    table {
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    th {
        text-align: left;
    }



    tr :hover{

         background-color: rgba(255,255,255,0.3);
     }

    td :hover{

         content: "";
         left: 0;
         right: 0;
         top: -9999px;
         bottom: -9999px;
         background-color: rgba(255,255,255,0.2);
         z-index: -1;


    }



</style>
  {% endblock %}

{% block body %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">    <img src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131032922_1156434281466016_3160520140419395504_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=jxThqoabDycAX8CDkfW&_nc_ht=scontent.ftun4-1.fna&oh=6e07304c5256131b4a482159451a3913&oe=5FFC6169">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#10aeda">Accueil</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Qui sommes-nous</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sondage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Créer</a></li>
                        <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Répondre</a></li>
          </ul>
        </li>
          
       <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        

      

      </ul>
      
               <a style=" margin:1% color:#10aeda; border-color: #10aeda; background-color:#10aeda; "class="btn btn-primary"  href="{{path('updateutilisateur')}}">Modifier mon profil</a>

               <a style="border-color: #10aeda;
    background-color: #10aeda;
    margin-top: 6%;
    margin-bottom: 1%;
    margin-left: -8%;"class="btn btn-primary"  href="{{path('app_logout')}}">Se déconnecter</a>

    </div>
  </div>
</nav>
<div class="font-monospace">

    <div class="container font-monospace">
        <h3 style="text-align: center;margin-right: 100px;margin-left: 100px;margin-top: 70px" class='font-monospace '>Liste des sondages crées et non mis en ligne</h3>
       
            <form action="{{ path('ajouter_sujet', {'id':idEnqueteur}) }}">
                <Button type="submit" class="btn btn-info">Ajouter Un Sondage</Button>
            </form>
        </button>
        <br/>
        <br/>
        <table class="table">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Nombre de participant</th>
                <th>Nombre de question</th>
               
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for sondage in sondages %}
           
                <tr>
            <td>{{ sondage.titre }}</td>
            <td>{{ sondage.nbParticipant }}</td>
            <td>{{ sondage.nbQuestion }}</td>
           
            <td>
                
 <button  type="button1"  class="btn btn-danger" > <a style="color:white; text-decoration : none" href="{{ path('updateRenumeration', {'sondage': sondage.id}) }}">Modifier rémunération</a></button>
            <button  type="button1"  class="btn btn-primary" > <a style="color:white; text-decoration : none"  href="{{ path('sondage_edit', {'id': sondage.id,'idEnqueteur': idEnqueteur }) }}">Modifier détails</a></button>
             <button  type="button1"  class="btn btn-success"> <a style="color:white; text-decoration : none"  href="{{ path('neww', {'idSondage': sondage.id,'idEnqueteur': idEnqueteur }) }}">ajouter une question</a></button>
              <button  type="button1"  class="btn btn-info" style="margin-top: 1%;"> <a style="color:white; text-decoration : none"  href="{{ path('paiementSondage', {'idSondage': sondage.id }) }}">Mettre en ligne </a></button>

                {#     <button  type="button" > <a style="color:black" href="{{ path('option_new',{'id':question.id} ) }}">ajouter option</a></button>
#}




           
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
