
{% extends 'base.html.twig' %}

{%  block body %}
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">    <img src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131032922_1156434281466016_3160520140419395504_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=jxThqoabDycAX8CDkfW&_nc_ht=scontent.ftun4-1.fna&oh=6e07304c5256131b4a482159451a3913&oe=5FFC6169">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#10aeda">Accueil</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
 <main class="font-monospace">
<br>
    <h2 style="text-align: center; padding: 20px; color:  #0A1538;" >Formulaire d'inscription  </h2>
        <br>
        <div style="    margin-left: 37%;
" >
       {{form_start(form)}}
        <br>
        <p style="color: #0A1538;">{{form_label(form.password)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.password)}}</p>
        <br>
        <p style="color: #0A1538;">{{form_label(form.email)}}</p>
        <p style="margin-left: 290px;margin-top: -20px;">{{form_widget(form.email)}}</p>
        <br>
           {{form_end(form)}}

      
        
        </br>
      </div>
   </div>
   </main>
{% endblock %}
